<!DOCTYPE html>
<html lang="en">
<div>
    {% block head %}
    <!-- -->
    {% endblock %}
</div>


<body  class = "df-roboto">
<div>
        {% block flashError %}


        {% endblock %}

</div>
<div>
      

</div>



<div>
        {% block aside %}
        {% endblock %}

</div>
      {% block modal %}
     <!-- colocamos modales-->
    {% endblock %}
    {% block content %}
    <!-- colocamos el codigo de aside-->
    {% endblock %}

   

    {% block librerias %}
     <!-- colocamos el librerias-->
    {% endblock %}
</body>
 
  
</html>