{% extends 'generales/base/base.html' %}
{% include 'generales/base/head.html' %}

{% include 'generales/base/include.html' %}


{% block content %}
 

     <div class="content content-fixed content-auth-alt">
         <br class="container ht-100p tx-center">
        <div class="ht-100p d-flex flex-column align-items-center justify-content-center">
             <h1 class="tx-color-01 tx-24 tx-sm-32 tx-lg-36 mg-xl-b-5">404</h1>
        </div>
         </br>
          </br>
      <div class="container ht-100p tx-center">
        <div class="ht-100p d-flex flex-column align-items-center justify-content-center">
          <!--div class="wd-70p wd-sm-250 wd-lg-300 mg-b-15"><img src="https://via.placeholder.com/1260x840" class="img-fluid" alt=""></div-->
          <h1 class="tx-color-01 tx-24 tx-sm-32 tx-lg-36 mg-xl-b-5">Pagina no encontrada</h1>
          <h5 class="tx-16 tx-sm-18 tx-lg-20 tx-normal mg-b-20">Oopps. La pagina solicitada no existe.</h5>
          <p class="tx-color-03 mg-b-30">Es posible que haya escrito mal la dirección o que la página se haya movido.</p>
          <div class="d-flex align-items-center justify-content-center">
                    <img src="/static/assets/img/logo 3.png" width="80" height="80" class="rounded-circle" alt="">

        </div>
          <span class="tx-12 tx-color-03"><a href="http://ec2-54-162-10-248.compute-1.amazonaws.com/">Smarty-Admin(smartydreams.com)</a></span>

        </div>
      </div><!-- container -->
    </div><!-- content -->

   

    
   
  
{% endblock %}